.calculator {
  padding: pxToRem(16) pxToRem(16) pxToRem(36);
  box-shadow: $baseBorderShadow;
  border-radius: 0;
  z-index: 2;

  @include breakpoint(medium) {
    padding: pxToRem(24) pxToRem(24) pxToRem(34);
    border-radius: $baseBorderRadius;
  }
}

.calculator-title {
  margin: 0 0 pxToRem(16);
  font-family: $helvetica;
  font-size: pxToRem(15);
  font-weight: 400;
  line-height: pxToRem(24);
}