.results {
  margin: 0 pxToRem(6);
  padding: pxToRem(56) pxToRem(32) pxToRem(54);
  background-color: $baseGrayBackground; 
  display: none;
  border-radius: 0 0 $baseBorderRadius $baseBorderRadius;

  @include breakpoint(medium) {
    padding: pxToRem(56) pxToRem(32) pxToRem(47);
    margin: pxToRem(40) 0 0;
    display: block;
    border-radius: 0 $baseBorderRadius $baseBorderRadius 0;
  }

  &--active {
    display: block;

    .results__price {
      color: $baseBlack;
    }
  }

  &__title {
    margin: 0 0 pxToRem(24);
  }

  &--title-main {
    margin: 0 0 pxToRem(24);
  }

  &__price {
    margin: 0;
    font-size: pxToRem(16);
    line-height: pxToRem(20);
    text-align: right;

    @include breakpoint(medium) {
      font-size: pxToRem(24);
      line-height: pxToRem(38);
      margin: 0 0 pxToRem(16);
      color: $baseGrayBorder;
      text-align: left;
    }
  }

  &--price-last {
    margin: 0;
  }

  &--price-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: pxToRem(25) 0 pxToRem(12);
    border-bottom: $baseBorderGrayHr; 

    @include breakpoint(medium) {
      display: block;
      padding: 0;
      border: none; 
    }
  }

  &--price-wrapper-first {
    padding: 0 0 pxToRem(12);

    @include breakpoint(medium) {
      padding: 0;
    }
  }

  &__medium-title {
    margin: 0;
    font-family: $helvetica;
    font-size: pxToRem(13);
    line-height: pxToRem(19);
    color: $baseBlackLighter;

    @include breakpoint(medium) {
      margin: 0 0 pxToRem(8);
      font-size: pxToRem(20);
      line-height: pxToRem(30);
    }
  }

  &__small-title {
    margin: 0;
    color: $baseBlackLighter;
    font-family: $helvetica;
    font-size: pxToRem(13);
    line-height: pxToRem(19);

    @include breakpoint(medium) {
      line-height: pxToRem(28);
      margin: 0 0 pxToRem(8);
    }
  }

  &__hr {
    display: none;
    margin: 0 0 pxToRem(24);

    @include breakpoint(medium) {
      display: block;
    }
  }
}