// Borders
$baseBorderRadius: 8px;
$baseBorderGray: solid 1px $baseGrayBorder;
$baseBorderGrayHr: solid 1px $baseGray;
$baseBorderTertiaryRed: solid 1px $tertiaryRed;
$baseBorderShadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
$baseBorderPrimaryBlue: solid 1px $primaryBlue;