// Colors
$white: #ffffff;
$baseBlack: #2E2F2F;
$baseBlackLighter: #5D5D5D;
$baseGray: #DDDDDD;
$baseGrayBackground: #FBFBFB;
$baseGrayBorder: #BBBCBC;
$primaryBlue: #316EEF;
$primaryBlueDarkest: #1B3979;
$tertiaryRed: #D83E00;