.form-wrapper {
  display: grid;
  padding: 0 pxToRem(17) pxToRem(17);
  margin: auto;
  max-width: pxToRem($container-max-width);
  grid-template-columns: 100%;

  @include breakpoint(medium) {
    grid-template-columns: minmax(min-content, 667px) auto;
  }
}