.header {
  margin: 0 0 pxToRem(48);
  box-shadow: $baseBorderShadow;

  &__h1 {
    padding: pxToRem(17) pxToRem(17);
    margin: auto;
    max-width: pxToRem($container-max-width);
    font-family: $publico;
    font-weight: 400;
    font-size: pxToRem(31.25);
    line-height: 1;
  }
}
